* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root {
    --pri-color: #8F0101;
    --sec-color: #B81515;

    --bg-pri-color: #ffffff;
    --bg-sec-color: #f5f5f5;
    --bg-ter-color: #000000;

    --txt-pri-color: #222222;
    --txt-sec-color: #ffffff;

    --title-weight: 700;
    --txt-weight: 400;
    --menu-txt-weight: 500;
}

body {
    font-family: "Montserrat";
    color: var(--txt-pri-color);
}